body {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;

}

.btn-primary {
    border-radius: 10px;
    background: #F00;
    border: 0;
    font-size: 20px;
    color: #fff;
    font-family: Inter;
    font-weight: 700;
    padding: 16px 32px;
}

.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;

}

.banner-content {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding-top: 180px;
    padding-bottom: 10px;
}

.banner-title {
    width: 632px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding-left: 340px;
    margin: 0;
}

.section-off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 40px;
}

.off-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 0;
}

.off-content {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
}

.new-year-photo {
    width: 800px;
    height: 500px;
    display: block;
    margin: auto;
}

/* mid night styles */
.section-midnight {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
    margin-top: 100px;
}

.midnight-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin: 0;
}

.midnight-content {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-right: 40px;
}

.midnight-img {
    padding: 60px 0;

}
/* place styles */
.place-span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.place-title {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.place-section {
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    margin-top: 120px;
    padding-top: 100px;
}

/* bonus content */
.bonus-content {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.before-img {
    width: 750px;
    margin-right: 30px;
}

.bonus-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 5px;
}

.bonus-img {
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 40px;
    margin: 0 60px;

}

.bonus-status {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}

.bonus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0px;

}

.after-img {
    margin-left: 50px;
}

.number-bonus {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.number-status {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
/* holiday section  */

.holiday {
    margin: auto;
    text-align: center;
    width: 800px;
    padding-bottom: 60px;
}

.holiday-title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-content {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 0;
}

.holiday-span {
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 0;
}

.holiday-status {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    
}
/* special holiday day section */
.special {
    display: flex;
    background-image: url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    
}
.img-2 {
    background-image: url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    padding-right: 140px; 
    position: relative;
    left: 100px;
    top: 5px;
}
.per-img-1 {
    position: relative;
    right: 60px;
}
.per-img {
    position: relative;
    top: 60px;
    right: 150px;

}

.gift-status {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 16px;
}

.gift-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 20px;
}

.gift-content {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 800px;
    margin: 0;
    margin-bottom: 40px;
}

.gift-image {
    margin: 5px;
    border-radius: 16px;
}

/* news letter */
.news-letter {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 100px 0;

}

.news-image {
    display: block;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 40px;
}

.newsletter-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
}

.news-content {
    width: 800px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 20px 250px;
    margin: 0;
}

/* .news-input {
    width: 630px;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin: 0 300px;
} */
.input-box {
    /* text-align: center; */

    display: flex;
    align-items: center;
    justify-content: center;

}

input[type="text"] {
    background: #fff;
    width: 350px;
    height: 50px;
    padding: 0 25px;
    border: none;
    outline: none;
    border-radius: 25px 0 0 25px;
    font-family: Inter;
    font-size: 18px;
    color: rgba(7, 2, 17, 0.30);
}

input[type="submit"] {
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    background: #F00;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
}

/* footer section */
footer {
    width: 1320px;
    height: 609px;
    background: #070211;
}

.new-footer {

    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-top: 100px;
    margin-bottom: 40px;


}

.new-address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.icon-address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer-image {
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 40px 0;
}

.img-f {
    padding: 0 20px;
}

.copy-right {
    justify-content: space-between;
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 40px 10px;
}